.visit-count-body {
    width: 15rem;
    height: 6rem;

    background-color: rgb(232, 232, 232);
    border-radius: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.visit-num {
    width: auto;
    height: 6rem;

    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: 0.8rem;
    padding-left: 2rem;
}

.visit-text {
    width: 9rem;
    height: 6rem;
/* 
    background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}