.hidden-content {
    display: none;
}

.body-home {
    width: 100%;
    /* background-color: orange; */

    padding-top: 2.5rem;
    display: flex;
}

.section-60 {
    width: 50%;
    /* background-color: red; */
    padding-right: 2rem;
}

.section-40 {
    width: 50%;
    /* background-color: blue; */
    padding-right: 2rem;
}
